.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.938965;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.fc0{color:rgb(0,0,0);}
.fs0{font-size:36.000000px;}
.y1c{bottom:1.657100px;}
.ya{bottom:1.657200px;}
.y46{bottom:2.341400px;}
.y1d{bottom:2.569400px;}
.y2{bottom:2.569500px;}
.y6{bottom:8.385400px;}
.y38{bottom:12.376500px;}
.yd{bottom:12.376600px;}
.y20{bottom:13.288900px;}
.y7{bottom:14.201200px;}
.y5{bottom:20.017100px;}
.y8{bottom:25.832900px;}
.y0{bottom:35.000000px;}
.y45{bottom:36.250000px;}
.y44{bottom:48.565900px;}
.y43{bottom:71.829300px;}
.y42{bottom:95.092700px;}
.y41{bottom:106.724400px;}
.y40{bottom:129.987800px;}
.y3f{bottom:141.619500px;}
.y3e{bottom:164.882900px;}
.y3d{bottom:199.778000px;}
.y3c{bottom:211.409700px;}
.y3b{bottom:223.041400px;}
.y3a{bottom:234.673100px;}
.y39{bottom:246.304800px;}
.y37{bottom:257.936600px;}
.y36{bottom:281.199900px;}
.y35{bottom:292.831600px;}
.y34{bottom:304.463300px;}
.y33{bottom:316.095100px;}
.y32{bottom:327.726800px;}
.y31{bottom:339.358500px;}
.y30{bottom:350.990200px;}
.y2f{bottom:362.621900px;}
.y2e{bottom:385.885300px;}
.y2d{bottom:397.517000px;}
.y2c{bottom:409.148700px;}
.y2b{bottom:420.780300px;}
.y2a{bottom:432.412000px;}
.y29{bottom:444.043700px;}
.y28{bottom:455.675400px;}
.y27{bottom:467.307100px;}
.y26{bottom:478.938800px;}
.y25{bottom:490.570400px;}
.y24{bottom:502.202100px;}
.y23{bottom:513.833800px;}
.y22{bottom:537.097200px;}
.y21{bottom:548.728900px;}
.y1f{bottom:560.360600px;}
.y1e{bottom:583.624000px;}
.y1b{bottom:595.255700px;}
.y1a{bottom:606.887300px;}
.y19{bottom:618.519000px;}
.y18{bottom:630.150700px;}
.y17{bottom:641.782400px;}
.y16{bottom:653.414100px;}
.y15{bottom:665.045800px;}
.y14{bottom:676.677500px;}
.y13{bottom:688.309200px;}
.y12{bottom:699.940900px;}
.y11{bottom:711.572600px;}
.y10{bottom:723.204300px;}
.yf{bottom:734.836000px;}
.ye{bottom:746.467700px;}
.yc{bottom:758.099400px;}
.yb{bottom:781.362800px;}
.y9{bottom:792.994500px;}
.y4{bottom:804.626200px;}
.y3{bottom:839.521300px;}
.y1{bottom:851.153000px;}
.h7{height:11.131600px;}
.h2{height:11.131700px;}
.h8{height:11.131800px;}
.ha{height:11.815900px;}
.h9{height:22.763300px;}
.h6{height:22.763400px;}
.h3{height:26.208984px;}
.h5{height:26.226562px;}
.h4{height:34.395100px;}
.h1{height:828.500000px;}
.h0{height:898.534700px;}
.w3{width:18.961100px;}
.w4{width:32.861900px;}
.w6{width:54.408100px;}
.w8{width:102.365800px;}
.w7{width:140.593000px;}
.w5{width:143.373100px;}
.w9{width:392.197100px;}
.w2{width:495.062900px;}
.w1{width:497.500000px;}
.w0{width:535.882900px;}
.x3{left:1.676700px;}
.x4{left:3.477600px;}
.x9{left:4.958900px;}
.xd{left:6.977900px;}
.x10{left:12.619500px;}
.xa{left:17.703000px;}
.xe{left:20.125300px;}
.x0{left:21.500000px;}
.x1{left:22.570000px;}
.xf{left:25.130700px;}
.x5{left:42.031100px;}
.x7{left:51.682600px;}
.x6{left:75.393000px;}
.x2{left:105.489200px;}
.x8{left:219.266100px;}
.xb{left:274.174100px;}
.xc{left:415.267100px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
.fs0{font-size:48.000000pt;}
.y1c{bottom:2.209467pt;}
.ya{bottom:2.209600pt;}
.y46{bottom:3.121867pt;}
.y1d{bottom:3.425867pt;}
.y2{bottom:3.426000pt;}
.y6{bottom:11.180533pt;}
.y38{bottom:16.502000pt;}
.yd{bottom:16.502133pt;}
.y20{bottom:17.718533pt;}
.y7{bottom:18.934933pt;}
.y5{bottom:26.689467pt;}
.y8{bottom:34.443867pt;}
.y0{bottom:46.666667pt;}
.y45{bottom:48.333333pt;}
.y44{bottom:64.754533pt;}
.y43{bottom:95.772400pt;}
.y42{bottom:126.790267pt;}
.y41{bottom:142.299200pt;}
.y40{bottom:173.317067pt;}
.y3f{bottom:188.826000pt;}
.y3e{bottom:219.843867pt;}
.y3d{bottom:266.370667pt;}
.y3c{bottom:281.879600pt;}
.y3b{bottom:297.388533pt;}
.y3a{bottom:312.897467pt;}
.y39{bottom:328.406400pt;}
.y37{bottom:343.915467pt;}
.y36{bottom:374.933200pt;}
.y35{bottom:390.442133pt;}
.y34{bottom:405.951067pt;}
.y33{bottom:421.460133pt;}
.y32{bottom:436.969067pt;}
.y31{bottom:452.478000pt;}
.y30{bottom:467.986933pt;}
.y2f{bottom:483.495867pt;}
.y2e{bottom:514.513733pt;}
.y2d{bottom:530.022667pt;}
.y2c{bottom:545.531600pt;}
.y2b{bottom:561.040400pt;}
.y2a{bottom:576.549333pt;}
.y29{bottom:592.058267pt;}
.y28{bottom:607.567200pt;}
.y27{bottom:623.076133pt;}
.y26{bottom:638.585067pt;}
.y25{bottom:654.093867pt;}
.y24{bottom:669.602800pt;}
.y23{bottom:685.111733pt;}
.y22{bottom:716.129600pt;}
.y21{bottom:731.638533pt;}
.y1f{bottom:747.147467pt;}
.y1e{bottom:778.165333pt;}
.y1b{bottom:793.674267pt;}
.y1a{bottom:809.183067pt;}
.y19{bottom:824.692000pt;}
.y18{bottom:840.200933pt;}
.y17{bottom:855.709867pt;}
.y16{bottom:871.218800pt;}
.y15{bottom:886.727733pt;}
.y14{bottom:902.236667pt;}
.y13{bottom:917.745600pt;}
.y12{bottom:933.254533pt;}
.y11{bottom:948.763467pt;}
.y10{bottom:964.272400pt;}
.yf{bottom:979.781333pt;}
.ye{bottom:995.290267pt;}
.yc{bottom:1010.799200pt;}
.yb{bottom:1041.817067pt;}
.y9{bottom:1057.326000pt;}
.y4{bottom:1072.834933pt;}
.y3{bottom:1119.361733pt;}
.y1{bottom:1134.870667pt;}
.h7{height:14.842133pt;}
.h2{height:14.842267pt;}
.h8{height:14.842400pt;}
.ha{height:15.754533pt;}
.h9{height:30.351067pt;}
.h6{height:30.351200pt;}
.h3{height:34.945312pt;}
.h5{height:34.968750pt;}
.h4{height:45.860133pt;}
.h1{height:1104.666667pt;}
.h0{height:1198.046267pt;}
.w3{width:25.281467pt;}
.w4{width:43.815867pt;}
.w6{width:72.544133pt;}
.w8{width:136.487733pt;}
.w7{width:187.457333pt;}
.w5{width:191.164133pt;}
.w9{width:522.929467pt;}
.w2{width:660.083867pt;}
.w1{width:663.333333pt;}
.w0{width:714.510533pt;}
.x3{left:2.235600pt;}
.x4{left:4.636800pt;}
.x9{left:6.611867pt;}
.xd{left:9.303867pt;}
.x10{left:16.826000pt;}
.xa{left:23.604000pt;}
.xe{left:26.833733pt;}
.x0{left:28.666667pt;}
.x1{left:30.093333pt;}
.xf{left:33.507600pt;}
.x5{left:56.041467pt;}
.x7{left:68.910133pt;}
.x6{left:100.524000pt;}
.x2{left:140.652267pt;}
.x8{left:292.354800pt;}
.xb{left:365.565467pt;}
.xc{left:553.689467pt;}
}
